:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.chat-container {
  width: 100%;
  
}

.chat-window {
  flex:1;
  width: 100%;
  overflow-y: scroll;
  height: 60vh
  
}

.message {
  margin-bottom: 10px;
  padding: 30px;
  border-radius: 5px;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: break-all;
}

.user   {
  background-color: #474a4d;
  color: #fff;

}



.bot  {
  background-color: #1d201e;
  color: #fff;
}
.chat-window::-webkit-scrollbar {
  width: 10px; 
}

.chat-window::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.chat-window::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px; 
}

.chat-window::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

img{
width: 60px;
height: 60px;
border-radius: 10px;
}
.messages-display{
  display: inline;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 5px; 
  width: 99%;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1b1e20;
  color: #fff;
  cursor: pointer;
}

.user-input {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-40%);
  width: 80%; 
  margin-bottom: 10px;/* Lub dowolna szerokość, którą chcesz nadać elementowi */
}

input[type="text"] {
  padding: 15px;
  border-radius: 20px;
  border: 2px solid #020b14;
  width: 70%;
}

button {
  padding: 15px 20px;
  border-radius: 20px;
  border: 1px solid #020b14;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-left: 5px;
}

button:hover {
  border: 1px solid #fff;
}

#app {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  height: 80vh;
  flex-direction: column;
}